<div class="row">
  

<div class="col-md-6 col-md-offset-3">
  

<%= form_for(pedido) do |f| %>
  <% if pedido.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pedido.errors.count, "error") %> prohibited this pedido from being saved:</h2>

      <ul>
      <% pedido.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
 <%= f.label "Cliente" %>
 <%= f.select :customer_id,
                 Customer.all.map { |u| [u.name, u.id] },
                             { include_blank: true },
                             { class: 'chosen-select1 form-control ch source'  }
                  %>

  </div>
  <div class="form-group">
    <%= f.label "Producto" %>
   <%= f.select :product_id,
                 Product.all.map { |u| ["#{u.nombre} - #{u.titulo} - #{u.tipo} - #{u.merge} - #{u.medida} - #{u.hilos} - #{u.carretes}"  , u.id] },
                             { include_blank: true },
                             { class: 'chosen-select1 form-control ch source'  }
                  %>
  </div>

   <div class="form-group">
    <%= f.label "Cantidad" %>
    <%= f.number_field :cantidad, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :fecha_entrega %>
    <%= f.date_field :fecha_entrega, class:"form-control" %>
  </div>



  <div class="form-group">
    <%= f.label :fecha_pedido %>
    <%= f.date_field :fecha_pedido, class:"form-control" %>
  </div>

 

  

  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
</div>

<script>
  $('.chosen-select1').chosen(
          {
      
            allow_single_deselect: true,
            no_results_text: 'No hay resultados',
            width: '550px',
            placeholder_text_single: "Plant",
            placeholder_text_multiple: "Seleccione una varias opciones"
      
          });


</script>