<%- model_class = FilamentCount -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %> <%= link_to t('.new', :default => t("helpers.links.new")),
            new_filament_count_path,
            :class => 'btn btn-primary' %></h1>
</div>

<%= form_tag delete_filament_counts_path, method: :delete, data: { confirm: 'Esta seguro de eliminar los registros' } do %>
<p><%= submit_tag "Eliminar", class: "btn btn-danger" %></p>
<table class="table table-striped">
  <thead>
    <tr>
    <th class="text-left" style="width: 5%"><%= check_box_tag "all_id", 0 %></th>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @filament_counts.each do |filament_count| %>
      <tr>
       <td><%= check_box_tag "filament_count_ids[]", filament_count.id ,false ,class:"ck"%></td>
        <td><%= link_to filament_count.id, filament_count_path(filament_count) %></td>
        <td><%= filament_count.name %></td>
        <td><%=l filament_count.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_filament_count_path(filament_count), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      filament_count_path(filament_count),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


 <% end %>
<style>
.btn-danger{background-color: #d9534f
 !important}
   .shi1
   {
   width: 150px !important;
   display: inline-block;
   height:  30px !important;
   color:gray !important;
   font-size: 10px !important;
   padding: 6px 2px;
      }
         .busqueda
   {
        display: block;
    padding: 10px;
    background: #e8e8e8;
   }
.fil
{margin: 0px;
}
.search
   {
   width:200px !important;
   height: 27px!important;
   display:inline-block !important;
   }
</style>

      <script>
  $('.btn-danger').hide();

$('#all_id').click(function(){

    if ( $(this).is(':checked') )
    {
            $('.ck').prop('checked', true);
            $('.btn-danger').fadeIn();
             $('td').css('background-color', 'whitesmoke');
       }
        else{
            $('.ck').prop('checked', false);
            $('.btn-danger').fadeOut();
            $('td').css('background-color', 'white');
         }
    });

$('.ck').click(function(){
var a = 0;
  if ( $(this).is(':checked') )
    {
            $('td').css('background-color', 'whitesmoke');
            $('.btn-danger').fadeIn();
       }
        else{
            $('td').css('background-color', 'white');
$(".ck").each(function(){  //todos los que sean de la clase row1
    if($(this).is(':checked')){
       a  = 1;
    }
});
            if (a != 1)
            {
            $('.btn-danger').fadeOut();
            $('#all_id').prop('checked', false);
          }
         }
    });




</script>
