
  
  <table class ="enc1" style = "margin-top:0px !important;">
      
      <tr>
    <th style = "text-align:left;"><span style = "font-weight:bold;margin-right:5px;"></td>
  <th style = "text-align:left;width:30%"><span style = "font-weight:bold;margin-right:5px;">Product:</span> <%=@report.product_name%></td>
      <th style = "text-align:left;"><span style = "font-weight:bold;margin-right:5px;"></td>
       <th style = "text-align:left;width:30%"><span style = "font-weight:bold;margin-right:5px;">Autor:</span> <%=@report.autor%></td>
    <th style = "text-align:left;"><span style = "font-weight:bold;margin-right:5px;"></td>
     
    
       </tr> 
    <tr>
  <th colspan = "5" style = "text-align:left">
  <span class = "titlel" style = "font-weight:bold;margin:0 5px 0 30px;text-align:left!important;font-size:18px;">Date</span></td>
    </tr> 
      <tr>
    <th style = "text-align:left;"><span style = "font-weight:bold;margin-right:5px;"></td>
    
  <th style = "text-align:left;width:30%"><span style = "font-weight:bold;margin-right:5px;">Customer Report Date:</span> <%=get_date(@report.customer_report_date )%></td>
      <th style = "text-align:left;"><span style = "font-weight:bold;margin-right:5px;"></td>
       <th style = "text-align:left;width:30%"><span style = "font-weight:bold;margin-right:5px;">Report Start Date:</span> <%=get_date(@report.report_start_date)%></td>
    <th style = "text-align:left;"><span style = "font-weight:bold;margin-right:5px;"></td>
     
    
       </tr> 
  <tr>
 <th colspan = "5" style = "text-align:left">
  <span class = "titlel" style = "font-weight:bold;margin:0 5px 0 30px;text-align:left!important;font-size:18px;">Location</span></td>
    </tr> 
      <tr>
    <th style = "text-align:left;"><span style = "font-weight:bold;margin-right:5px;"></td>
  <th style = "text-align:left;width:30%"><span style = "font-weight:bold;margin-right:5px;">Country:</span><%=@report.plant.country%></td>
      <th style = "text-align:left;"><span style = "font-weight:bold;margin-right:5px;"></td>
       <th style = "text-align:left;width:30%"><span style = "font-weight:bold;margin-right:5px;">Plant:</span><%=@report.plant.name%></td>
    <th style = "text-align:left;"><span style = "font-weight:bold;margin-right:5px;"></td>
     
    
       </tr>
   
    <tr>
  <th colspan = "5" style = "text-align:left">
  <span class = "titlel" style = "font-weight:bold;margin:0 5px 0 30px;text-align:left!important;font-size:18px;">Product</span></td>
    </tr> 
      <tr>
      <th style = "text-align:left;"><span style = "font-weight:bold;margin-right:5px;"></td>
    <th style = "text-align:left;width:30%"><span style = "font-weight:bold;margin-right:5px;">Yarn Type:</span><%=@report.yarn_type.name%> </td>
   <th style = "text-align:left;"><span style = "font-weight:bold;margin-right:5px;"></td>
  <th style = "text-align:left;width:30%"><span style = "font-weight:bold;margin-right:5px;text-align:left!important;">Decitex:</span><%=@report.decitex%> </td>
       <th style = "text-align:left;"><span style = "font-weight:bold;margin-right:5px;"></td>
       
  </tr>
  <tr>
  <th style = "text-align:left;"><span style = "font-weight:bold;margin-right:5px;"></td>
  <th style = "text-align:left;;width:30%"><span style = "font-weight:bold;margin-right:5px;">Merge:</span><%=@report.merge.name%> </td>
  <th style = "text-align:left;"><span style = "font-weight:bold;margin-right:5px;"></td>
      
      
  <th style = "text-align:left;;width:30%"><span style = "font-weight:bold;margin-right:5px;">Denier:</span> <%=@report.denier%></td>
  <th style = "text-align:left;"><span style = "font-weight:bold;margin-right:5px;"></td>
  </tr> 
   <tr>
     <th style = "text-align:left;"><span style = "font-weight:bold;margin-right:5px;"></td>
   <th style = "text-align:left;;width:30%"><span style = "font-weight:bold;margin-right:5px;">Filament count:</span><%=@report.filament_count.name%> </td>
    <th style = "text-align:left;"><span style = "font-weight:bold;margin-right:5px;"></td>
   <th style = "text-align:left;;width:30%"><span style = "font-weight:bold;margin-right:5px;">Production Date:</span> <%@report.product_dates.each do |date|%><%=get_date(date.date)%>, <%end%>  </td>
  <th style = "text-align:left;"><span style = "font-weight:bold;margin-right:5px;"></td>
   
      
      
  </tr>
    <tr>
  <th colspan = "5" style = "text-align:left">
  <span class = "titlel"  style = "font-weight:bold;margin:0 5px 0 30px;text-align:left!important;font-size:18px;">Market Information</span></td>
    </tr> 
    <tr>
   <th style = "text-align:left;"><span style = "font-weight:bold;margin-right:5px;"></td>
   <th style = "text-align:left;;width:30%"><span style = "font-weight:bold;margin-right:5px;">Segment:</span> <%=@report.segment%></td>
       <th style = "text-align:left;"><span style = "font-weight:bold;margin-right:5px;"></td>
     <th style = "text-align:left;;width:30%"><span style = "font-weight:bold;margin-right:5px;">Customer End Use:</span><%=@report.customer_end_use%> </td>
       <th style = "text-align:left;"><span style = "font-weight:bold;margin-right:5px;"></td>
  </tr> 
    
   <tr>
    <th style = "text-align:left;"><span style = "font-weight:bold;margin-right:5px;"></td>
   <th style = "text-align:left;;width:30%"><span style = "font-weight:bold;margin-right:5px;">Invoices Invista:</span> <%=@report.invoice_invista%> </td>
  <th style = "text-align:left;"><span style = "font-weight:bold;margin-right:5px;"></td>
      <th style = "text-align:left;;width:30%"><span style = "font-weight:bold;margin-right:5px;">Invoices MAG:</span><%=@report.invoice_mag%> </td>
      <th style = "text-align:left;"><span style = "font-weight:bold;margin-right:5px;"></td>
      
  </tr> 
  
  
     <tr>
    <th style = "text-align:left;"><span style = "font-weight:bold;margin-right:5px;"></td>
   <th style = "text-align:left;;width:30%"><span style = "font-weight:bold;margin-right:5px;">Qty Shipped,kg:</span><%=@report.quantity_shipped%></td>
   <th style = "text-align:left;"><span style = "font-weight:bold;margin-right:5px;"></td>
       <th style = "text-align:left;;width:30%"><span style = "font-weight:bold;margin-right:5px;">Qty Affected,kg:</span><%=@report.quantity_affected%> </td>
     <th style = "text-align:left;"><span style = "font-weight:bold;margin-right:5px;"></td>
  </tr> 
  
    <tr>
   <th style = "text-align:left;"><span style = "font-weight:bold;margin-right:5px;"></td>
  <th style = "text-align:left;;width:30%"><span style = "font-weight:bold;margin-right:5px;">Returns kilos potential:</span><%=@report.return_potential%></td>
  <th style = "text-align:left;"><span style = "font-weight:bold;margin-right:5px;"></td>
     <th style = "text-align:left;;width:30%"><span style = "font-weight:bold;margin-right:5px;">Returns kilos potential Value:</span> <%=@report.return_value%></td>
    <th style = "text-align:left;"><span style = "font-weight:bold;margin-right:5px;"></td>
  </tr> 
     
  <tr>  
   <th style = "text-align:left;"><span style = "font-weight:bold;margin-right:5px;"></td>
  <th style = "text-align:left;;width:30%"><span style = "font-weight:bold;margin-right:5px;">Claims potential:</span> <%=@report.return_value%></td>
  <th style = "text-align:left;"><span style = "font-weight:bold;margin-right:5px;"></td>
  <th style = "text-align:left;;width:30%"><span style = "font-weight:bold;margin-right:5px;">Claims potential Value:</span><%=@report.claim_value%></td>
   <th style = "text-align:left;"><span style = "font-weight:bold;margin-right:5px;"></td>
  </tr>

  
  <tr>
 <th colspan = "5" style = "text-align:left">
  <span class = "titlel" style = "font-weight:bold;margin:0 5px 0 30px;text-align:left!important;font-size:18px;">Customer Information</span></td>
  </tr>
        <th style = "text-align:left;"><span style = "font-weight:bold;margin-right:5px;"></td>
      <th style = "text-align:left;width:30%"><span style = "font-weight:bold;margin-right:5px;">Customer:</span><%=@report.customer.name%> </td>
      <th style = "text-align:left;"><span style = "font-weight:bold;margin-right:5px;"></td>
    <th style = "text-align:left;width:30%"><span style = "font-weight:bold;margin-right:5px;">Reported:</span> <%=@report.reporter%></td>
    <th style = "text-align:left;"><span style = "font-weight:bold;margin-right:5px;"></td>
    </tr> 
     <tr>
     <th style = "text-align:left;"><span style = "font-weight:bold;margin-right:5px;"></td>
      <th style = "text-align:left;width:30%"><span style = "font-weight:bold;margin-right:5px;">Country:</span> <%=@report.customer.country%></td>
    <th style = "text-align:left;"><span style = "font-weight:bold;margin-right:5px;"></td>
      <th style = "text-align:left;width:30%"><span style = "font-weight:bold;margin-right:5px;">Phone:</span> <%=@report.phone%></td>
    <th style = "text-align:left;"><span style = "font-weight:bold;margin-right:5px;"></td>
    </tr> 
      <tr>
    <th style = "text-align:left;"><span style = "font-weight:bold;margin-right:5px;"></td>
    
      <th style = "text-align:left;width:30%"><span style = "font-weight:bold;margin-right:5px;">City:</span>  <%=@report.customer.city%></td>
    <th style = "text-align:left;"><span style = "font-weight:bold;margin-right:5px;"></td>
     <th style = "text-align:left;width:30%"><span style = "font-weight:bold;margin-right:5px;">Email:</span><%=@report.email%></td>
    <th style = "text-align:left;"><span style = "font-weight:bold;margin-right:5px;"></td>
    </tr> 
      <tr>
      <th style = "text-align:left;"><span style = "font-weight:bold;margin-right:5px;"></td>
      <th style = "text-align:left;width:30%"><span style = "font-weight:bold;margin-right:5px;">Address:</span><%=@report.customer.address%></td>
    <th style = "text-align:left;"><span style = "font-weight:bold;margin-right:5px;"></td>
    <th style = "text-align:left;"><span style = "font-weight:bold;margin-right:5px;"></td>
    <th style = "text-align:left;"><span style = "font-weight:bold;margin-right:5px;"></td>
    </tr> 
 </table>
 <br>
     <table class ="enc1" style = "margin-top:0px !important;">
     <tr>
  <th style = "text-align:left;    padding-top: 30px;">
  <span class = "titlel" style = "font-weight:bold;margin:0 5px 0 30px;text-align:left!important;font-size:18px;">Description of the problem</span></td>
    </tr> 
    
  <tr>
  <th style = "margin-right:5px;text-align:left!important;font-size:14px;padding-left: 80px;
"><span style = "font-weight:bold;margin-right:5px;">Source:</span> <%=@report.source%></td>
   </tr>
   <tr>
    <th  style = "margin-right:5px;text-align:left!important;font-size:14px;padding-left: 80px;
"><span style = "font-weight:bold;margin-right:5px;">Specific Problem:</span> <%=@report.specific_problem.name%></td>
   </tr>
     <tr>
    <th style = "margin-right:5px;text-align:left!important;font-size:14px;padding-left: 80px;
"><span style = "font-weight:bold;margin-right:5px;">Description:</span> <%=@report.description_problem%></td>
   </tr>
     </table>
   <br>
    <table class ="enc1" style = "margin-top:0px !important;">    
      <tr>
  <th  style = "text-align:left;    padding-top: 30px;">
  <span class = "titlel" style = "font-weight:bold;margin:0 5px 0 30px;text-align:left!important;font-size:18px;">Preliminary Investigation</span></td>
    </tr> 
    <tr>
  <th  style = "margin-right:5px;text-align:left!important;font-size:14px;padding-left: 80px;
"><span style = "font-weight:bold;margin-right:5px;">Description:</span> <%=@report.preliminary_investigation%></td>
   </tr>
  </table>
  <br>
  <table class ="enc1" style = "margin-top:0px !important;">    
     <tr>
  <th   style = "text-align:left;    padding-top: 30px;">
  <span class = "titlel" style = "font-weight:bold;margin:0 5px 0 30px;text-align:left!important;font-size:18px;">Preliminary conclusions</span></td>
    </tr> 
    <tr>
  <th  style = "margin-right:5px;text-align:left!important;font-size:14px;padding-left: 80px;
"><span style = "font-weight:bold;margin-right:5px;">Description:</span> <%=@report.preliminary_conclusions%></td>
   </tr>
    </table>

<br>
 <table class ="enc1" style = "margin-top:0px !important;">    
     <tr>
  <th  style = "text-align:left;    padding-top: 30px;">
  <span class = "titlel" style = "font-weight:bold;margin:0 5px 0 30px;text-align:left!important;font-size:18px;">Plant Report</span></td>
    </tr> 
    <tr>
  <th style = "margin-right:5px;text-align:left!important;font-size:14px;padding-left: 80px;
"><span style = "font-weight:bold;margin-right:5px;">Research Results:</span> <%=@report.research_results%></td>
   </tr>
     <tr>
  <th  style = "margin-right:5px;text-align:left!important;font-size:14px;padding-left: 80px;
"><span style = "font-weight:bold;margin-right:5px;">Conclusions Plant:</span> <%=@report.conclusions_plant%></td>
   </tr>
    </table>   
  

     <style>
  .zc-viewrow td {
    font-size:10px !important;
  }
   .ver1
  { background: rgb(236, 24, 64);
  padding: 10px 20px;
  color: white!important;
  
  margin-left:20px;}
   .ver
  {  display: inline-block;background: rgb(38, 202, 140);
  padding: 10px 20px;
  color: white!important;
  border-bottom: 2px solid rgb(77, 139, 77);}
  .enc
  {
    width:1100px;
    border-collapse:collapse;
  }
  .enc th
  {font-size:13px;
    width:150px;
    border-collapse:collapse;
     background: linear-gradient(180deg, #FFFFFF, #E7E7E7);
  
  color: rgb(127, 127, 127);
  border: 1px solid rgb(199, 199, 199);
  padding:10px;
  }
  .enc td
  {font-size:13px;
    padding:10px;
    width:150px;
  background:white;
   color: rgb(127, 127, 127);
    border-collapse:collapse;
     border: 1px solid rgb(199, 199, 199);
  }
  
   .enc1
  {
    margin-top:10px;
    width:1100px;
     background:white;
   border: 1px solid rgb(199, 199, 199);
  }
  .enc1 th
  {font-size:13px;
    width:150px;
  
  font-weight: 100 !important;
  
  color: rgb(127, 127, 127);
 
  padding:15px;
  }
  .enc1 td
  {font-size:13px;
    padding:10px;
    width:150px;

   color: rgb(127, 127, 127);

  }
    .enc2
  {
    margin-top:10px;
    width:1100px;
     background:white;
   border: 1px solid rgb(199, 199, 199);
  }
  .enc2 th
  {font-size:13px;
    width:150px;
  
  
  
  color: rgb(127, 127, 127);
 
  padding:10px;
  }
  .enc1 td
  {font-size:13px;
    padding:20px;
    width:150px;
font-weight: 100;
   color: rgb(127, 127, 127);

  }
  
  
  
   .items
  {
    width:1200px;
    border-collapse:collapse;
  }
  .items th
  {font-size:12px;
   

    border-collapse:collapse;
     background: linear-gradient(180deg, #FFFFFF, #E7E7E7);
  color: rgb(127, 127, 127);
  border: 1px solid rgb(199, 199, 199);
  padding:5px;
  }
 .items td
  {font-size:12px;
    padding:5px;
    width:150px;
    border-collapse:collapse;
     border: 1px solid rgb(199, 199, 199);
  }
 .zc-delete {
    padding-left:10px !important;  
  }
.zc-check-boxlft {
  padding-left:10px !important; 
 }
  </style>