


<select value = "3" class="form-control sel pri chosen-select plant1" name="report[plant_id]" id="plant_id">
<% @plants.each do  |plant|%>

    <%if action_name == "edit"%>
        <%if plant.id == @report.plant_id%>
            <option selected="selected" value="<%=plant.id%>"><%=plant.name%></option>
            <%else%>
            <option  value="<%=plant.id%>"><%=plant.name%></option>
        <%end%>
    <%else%>
         <option  value="<%=plant.id%>"><%=plant.name%></option>
    <%end%>
<%end%>

</select>

    <button type="button" class="bt " data-toggle="modal" data-target="#myModal"><i class="fa fa-plus" aria-hidden="true"></i>
</button>


<style>
.bt
{
    padding: 0px 0px;
    background: white;
    color: #46b8da;
    border: none;
}	
</style>

<script>
	$('.bt').click(function() {
		// body...

	 $('#name').val("");
   $('#country').val("");
 
	});
</script>