<%- model_class = Report -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:count) %></th>
      <th><%= model_class.human_attribute_name(:product_name) %></th>
      <th><%= model_class.human_attribute_name(:autor) %></th>
      <th><%= model_class.human_attribute_name(:code) %></th>
      <th><%= model_class.human_attribute_name(:customer_report_date) %>
      <th><%= model_class.human_attribute_name(:customer_id) %></th>
      <th><%= model_class.human_attribute_name(:reporter) %></th>

      <th>Seguimiento</th>



      
      
      <!--<th><%= model_class.human_attribute_name(:report_start_date) %></th>
      <th><%= model_class.human_attribute_name(:plant_id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:value) %></th>
      <th><%= model_class.human_attribute_name(:decitex) %></th>
      <th><%= model_class.human_attribute_name(:denier) %></th>
      <th><%= model_class.human_attribute_name(:yarn_type_id) %></th>
      <th><%= model_class.human_attribute_name(:merge_id) %></th>
      <th><%= model_class.human_attribute_name(:segment) %></th>
      <th><%= model_class.human_attribute_name(:customer_end_use) %></th>
      <th><%= model_class.human_attribute_name(:invoice_invista) %></th>
      <th><%= model_class.human_attribute_name(:invoice_mag) %></th>
      <th><%= model_class.human_attribute_name(:quantity_shipped) %></th>
      <th><%= model_class.human_attribute_name(:quantity_affected) %></th>
      <th><%= model_class.human_attribute_name(:return_potential) %></th>
      <th><%= model_class.human_attribute_name(:return_value) %></th>
      <th><%= model_class.human_attribute_name(:claim_potential) %></th>
      <th><%= model_class.human_attribute_name(:claim_value) %></th>
     
      <th><%= model_class.human_attribute_name(:phone) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:source) %></th>
      <th><%= model_class.human_attribute_name(:specific_problem_id) %></th>-->
      
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @reports.each do |report| %>
      <tr>

        <td><%= link_to report.id, report_path(report) %></td>
        <td><%= report.count %></td>
        <td><%= report.product_name %></td>
        <td><%= report.autor %></td>
        <td><%= report.code %></td>
        <td><%= report.customer_report_date %></td>
        <td><%= report.customer.name %></td>
        <td><%= report.reporter %></td>
        <td><%=link_to "Seguimiento",
                      new_seguimiento_path(:param1=> report.id), :class => 'btn btn-primary btn-xs' %></td>
        <!--<td><%= report.report_start_date %></td>
        <td><%= report.plant_id %></td>
        <td><%= report.title %></td>
        <td><%= report.value %></td>
        <td><%= report.decitex %></td>
        <td><%= report.denier %></td>
        <td><%= report.yarn_type_id %></td>
        <td><%= report.merge_id %></td>
        <td><%= report.segment %></td>
        <td><%= report.customer_end_use %></td>
        <td><%= report.invoice_invista %></td>
        <td><%= report.invoice_mag %></td>
        <td><%= report.quantity_shipped %></td>
        <td><%= report.quantity_affected %></td>
        <td><%= report.return_potential %></td>
        <td><%= report.return_value %></td>
        <td><%= report.claim_potential %></td>
        <td><%= report.claim_value %></td>
        
        <td><%= report.phone %></td>
        <td><%= report.email %></td>
        <td><%= report.source %></td>
        <td><%= report.specific_problem_id %></td>
        <td><%= report.description_problem %></td>
        <td><%= report.preliminary_investigation %></td>
        <td><%= report.preliminary_conclusions %></td>
        <td><%= report.research_results %></td>
        <td><%= report.conclusions_plant %></td>
        <td><%= report.action_plan %></td>
        <td><%= report.close_claim %></td>
        <td><%= report.date_close %></td>
        <td><%= report.validation_claim %></td>
        <td><%=l report.created_at %></td>-->
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_report_path(report), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      report_path(report),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_report_path,
            :class => 'btn btn-primary' %>

<style type="text/css" media="screen">
  .btn{
    color: white!important;
    }
    .btn-default
    {
    color: gray!important;
    }
</style>