<%- model_class = Report -%>
<div class="page-header">
   <div class="row">

      <div class = "col-md-6" style="padding-left: 16px;">
            <p class="title-h2" style="margin: 9px; font-size: 33px; margin-left: 2px">Developments <span class="label label-primary"><%=@reports.where(type_report: "prestamos").count%></span> </p>
         

         </div>

       <div class="col-md-6 text-right">
         <%= link_to "New Report",new_report_path + "?type=pres",
            :class => 'btn btn-primary' %>
      </div>
   </div>
</div>


<div class="row busqueda" style="padding: 5px; padding-left: 76px;">
   <div class="col-md-12" style="padding: 0px;">

      <%= form_tag(@route, :method => "get", id: "search-form") do %>
      <%= select_tag 'search', options_for_select(["LYCRA®fiber", "Nylon", "Elaspan ®", "T400"]),{:class => 'form-control sh', include_blank: true }%>

      <%= select_tag 'search4', options_for_select(Merge.all.collect{ |u| ["#{u.name}", u.id, ] }),{:class => "form-control sh4", include_blank: true }%>


      <%=select_tag 'search1', options_for_select(Customer.all.collect{ |u| ["#{u.name}", u.id, ] }),{:class => "form-control sh1", include_blank: true }%>


      <%= select_tag 'search2', options_for_select(Plant.all.collect{ |u| ["#{u.name}", u.id, ] }),{:class => "form-control sh6", include_blank: true }%>

      <%= text_field_tag :search3, params[:search3], placeholder: "Reporter", class: "form-control search", style: "margin-top: 10px !important;" %>
      
      <%= button_tag class: "btn btn-primary sh3", :title => "Buscar Registros" do %>
         <i class="fas fa-search" style=""></i>
      <% end -%>

      <%= link_to index_prestamos_path, :title => "Cancelar Filtros", class: "btn btn-warning can" do%>
         <i class="fas fa-ban"></i>
      <% end -%>

      <% end %>

   </div>
</div>
<br>

<table class="table table-striped">
   <thead>
      <tr>
         <th><%= model_class.human_attribute_name(:code) %></th>
         <th><%= model_class.human_attribute_name(:product) %></th>
         <th>Merge</th>
         <th><%= model_class.human_attribute_name(:Fecha_de_Prestamo) %>
         <th><%= model_class.human_attribute_name(:customer_id) %></th>
         <th><%= model_class.human_attribute_name(:Prestado_a) %></th>
         <th>Seguimiento</th>
         <th style="text-align: center;"><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
   </thead>
   <tbody>
      <% @reports.each do |report| %>
      <tr>
         <td><%= report.code %></td>
         <td><%= report.product_name %></td>
         <td><%= report.merge.name%></td>
         <td><%= report.customer_report_date ? get_date(report.customer_report_date) : report.customer_report_date %></td>
         <td><%= report.customer.name if report.customer %></td>
         <td><%= report.reporter  %></td>
         <td  style="width: 1px; padding: 0px; padding-top: 10px; padding-left: 18px;"><%=link_to "Tracings",seguimientos_all_path(report.id), :class => 'btn btn-primary btn-xs' %></td>
         <td>
            <%= link_to image_tag("https://www.codot.gov/business/civilrights/ada/assets/adobe-pdf-icon.png/image_preview"), report_path(report.id , :format => "pdf"), target:"_blank", class: "icon-export"%>

            <div class="btn-group" style="float: right;">
               <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: #EC5C00; border: none;"><i class="fas fa-list"></i>  <i class="fas fa-sort-down" style="font-size: 19px;"></i>

               </button>
                    
            <div class="dropdown-menu dropdown-menu-right" style="font-size: 14px; min-width: 108px;"  >
               <ul style="padding: 0px; margin: 0px !important;">
                  
                  <ol style="padding-left: 10px;">
                     <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_report_path(report) + "?prestamos=pres", :class => 'btn btn-info btn-xs' %>     
                  </ol>

                  <ol>
                     <%= link_to 'Mostrar',report_path(report)+ "?prestamos=pres", :class => 'btn btn-default btn-xs' %>
                  </ol>
                         
                  
             </ul>
           </div>
         </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="col-md-6 text-right">
   <%= will_paginate @reports%>
</div>




<style type="text/css" media="screen">
   .btn{
   color: white!important;
   }
   .btn-default
   {
   color: gray!important;
   }

   ol{
      display: inline;
      margin: 0px;
      padding: 0px;
   }

   h1
   {
   margin:0px;
   }
   .shi
   {
   height:  30px !important;
   color:gray !important;
   font-size: 10px !important;
   }
   .shi1
   {
   width: 60px;
   display: inline-block;
   height:  30px !important;
   color:gray !important;
   font-size: 10px !important;
   padding: 6px 2px;
   text-align: center;
   }
   .busqueda
   {
   display: block;
   padding: 10px;
   background: #e8e8e8;
   }
   .search
   {
   width:200px !important;
   height: 27px!important;
   display:inline-block !important;
   }
   .pdd1  {
      color:#e74b09 !important;

   }
   .pdd1:hover  {
      color:#e74b09 !important;
   }

   .label{
      padding-top: 10px;
      background-color: #EC5C00;
   }

   .can{

      width: 38px;
      height: 27px;
      background-color: red !important;
      border: none;

   }

   .sh3{
       width: 38px;
       height: 27px;
   }

   .icon-export img{
      width: 34px !important; 
      margin-bottom: 10px !important;
   }
   



</style>

<script>

 $('.sh').val(<%=params[:search]%>) ;
 $('.sh1').val(<%=params[:search1]%>) ;  
 $('.sh2').val(<%=params[:search2]%>) ;
 $('.sh3').val(<%=params[:search3]%>) ;
 $('.sh4').val(<%=params[:search4]%>) ; 
 $('.sh5').val(<%=params[:search5]%>) ; 
 $('.sh6').val(<%=params[:search6]%>) ; 



</script>