<!DOCTYPE html>
<html>
  <head>
    <title>RCCReports</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
  </head>

  <body>


    
 <!-- <div class = "row head1">
    <div class="col-lg-12">
     <div class="col-lg-2">
  <%= link_to image_tag("https://c2.staticflickr.com/4/3847/32895283364_180dc048d6_o.png"), root_path%>
     </div>
  	<div class="col-lg-10">
<a href="" "email me">RCC Reports</a>
     </div>
  	

  	</div>
  </div>-->
    
  
 <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <%= link_to image_tag("https://c2.staticflickr.com/4/3847/32895283364_180dc048d6_o.png"), root_path, class:"navbar-brand"%>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     
      <ul class="nav navbar-nav">
        
  
        <li ><%= link_to "RCC Reports", reports_path %></li>
        <li><%= link_to "Sheduler", products_path %></li>
        

 
      </ul>


          <ul class="nav navbar-nav navbar-right ">
         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i style = "margin:0px 10px 0px 10px;" class="fa fa-user" aria-hidden="true"></i>Account<span class="caret"></span></a>
          <ul style = "width:200px;" class="dropdown-menu">
            
            <% if user_signed_in? %>
            <li><i class="fa fa-envelope" style = "margin:0px 10px 0px 10px;" aria-hidden="true"></i><%=current_user.email%></li>

        <li style="margin-top:10px">
        <i style = "margin:0px 10px 0px 10px;" class="fa fa-sign-out" aria-hidden="true"></i>
        <%= link_to "Logout", destroy_user_session_path, :method => :delete,
                      :class => 'logout' %></li>
        <% else %>
        <li><%= link_to "Sign up now!",  new_user_registration_path%></li>
        <% end %>
          </ul>
         
        </li>
      </ul>







   
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<%if controller.controller_name == "products" || controller.controller_name == "pedidos" || controller.controller_name == "orders"%>
  <%= render "layouts/sheduler"%>
<%else%>
  <%= render "layouts/reports"%>
<%end%>





<div class="container-fluid info">


    <%= yield %>
    </div>
  </body>

  <style>
  img
  {
  	width:150px;
  	margin-bottom: 10px;
  }
  .logout 
  {
    display: inline-block !important;
    padding: 0px !important;
  }
  .info
  {
    padding: 0px 40px;
  }
  .navbar-default
  {
        margin-bottom: 0px;

  }
  .navbar-brand img
  {
        margin: -10px !important;
  }
  </style>
  
  
</html>
