<!DOCTYPE html>
<html>
  <head>
    <title>RCCReports</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


  
  
  
    
  
 

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><%= image_tag("/assets/logo.png")%></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to "Reports", reports_path %></li>
        <li><%= link_to "Customers", customers_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Information<span class="caret"></span></a>
          <ul class="dropdown-menu">
            
            <li><%= link_to "Filaments Counts", filament_counts_path %></li>
            <li><%= link_to "Merges", merges_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Plants", plants_path %></li>
              <li><%= link_to "Yarn Types", yarn_types_path %></li>
             
            <li role="separator" class="divider"></li>
            <li><%= link_to "Specific Problem", specific_problems_path %></li>
            <li><%= link_to "Product Dates", product_dates_path %></li>
            <li><%= link_to "Product Images", product_images_path %></li>
          </ul>
        </li>
      </ul>
     
   
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

    <%= yield %>
  </body>
</html>
