<!DOCTYPE html>
<html>
  <head>
    <title>RCCReports</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


    
  <div class = "row head1">
    <div class="col-lg-12">
     <div class="col-lg-4">
  <%= image_tag("https://c2.staticflickr.com/4/3847/32895283364_180dc048d6_o.png")%>
     </div>
  	<div class="col-lg-8">

     </div>
  	

  	</div>
  </div>
    
  
 

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
     
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      
      </ul>
      <ul class="nav navbar-nav navbar-right">
        
  
        <li class="active"><%= link_to "Reports", reports_path %></li>
        <li><%= link_to "Customers", customers_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i style = "margin:0px 10px 0px 10px; " class="fa fa-cogs" aria-hidden="true"></i>
Information<span class="caret"></span></a>
          <ul class="dropdown-menu">
            
            <li><%= link_to "Filaments Counts", filament_counts_path %></li>
            <li><%= link_to "Merges", merges_path %></li>
            <li><%= link_to "Plants", plants_path %></li>
            <li><%= link_to "Yarn Types", yarn_types_path %></li>
            <li><%= link_to "Specific Problem", specific_problems_path %></li>
            <li><%= link_to "Product Dates", product_dates_path %></li>
            <li><%= link_to "Product Images", product_images_path %></li>
          </ul>
         
       

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i style = "margin:0px 10px 0px 10px;" class="fa fa-user" aria-hidden="true"></i>Account<span class="caret"></span></a>
          <ul style = "width:200px;" class="dropdown-menu">
            
            <% if user_signed_in? %>
            <li><i class="fa fa-envelope" style = "margin:0px 10px 0px 10px;" aria-hidden="true"></i><%=current_user.email%></li>

        <li style="margin-top:10px">
        <i style = "margin:0px 10px 0px 10px;" class="fa fa-sign-out" aria-hidden="true"></i>
        <%= link_to "Logout", destroy_user_session_path, :method => :delete,
                      :class => 'logout' %></li>
        <% else %>
        <li><%= link_to "Sign up now!",  new_user_registration_path%></li>
        <% end %>
          </ul>
         
        </li>
      </ul>
   
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid info">


    <%= yield %>
    </div>
  </body>

  <style>
  img
  {
  	width:150px;
  	margin-bottom: 10px;
  }
  .logout 
  {
    display: inline-block !important;
    padding: 0px !important;
  }
  .info
  {
    padding: 0px 40px;
  }
  .navbar-default
  {
        margin-bottom: 0px;

  }
  </style>
  
  
</html>
